body{
  background-color: #F2073D;
}
h1{
  text-align:center;
  font-size:40px;
  color:black;
  
}
p{
  text-align: center;
  font-size:40px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
input [type ="submit"]{
	font-size:30px;
	font-family:sans-serif;
	background-color: green;

}
