<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='editgame.css')}}">
</head>
<body>

	<h1>Edit Game!!</h1>
	<div class = 'form'>
		<form action = "{{url_for('editgame', platform_id = platform_id, game_id = g.id)}}" method = 'post'>

	<p>Name:</p>
		<input type='text' size ='50' name='name' placeholder = '{{g.name}}'>
	<p>Release Year:</p>
		<input type="text" size= '20' name="releaseyear" placeholder ='{{g.releaseyar}}'>	
	<p>Description:</p>
		<input type="text" size ="50" name="description" 
		placeholder ='{{g.description}}'>

		<input type = 'submit' value = 'Edit'>
	

		<a href="{{url_for('games', platform_id = platform_id, game_id = g.id)}}">Cancel</a>
	</form>
	</div>
</body>
</html>
