<!DOCTYPE HTML> 
<head>
	<meta http-equiv="content-type" content ="text/html"; charset =utf 8">
	<link rel ="stylesheet" type = "text/css" href ="css/home.css">
	<title>Video Game Catalog</title>
	<meta name="description" content="Insert games here">
</head>
<body>
	<div class="blended_grid">
		<div class ="Header">
			<h1>Video Game Item Catalog!</h1>
			<p> This is a video game catalog of games, that I
				personally enjoy and are some of my favorites.
			This is one of the projects for Udacity's FSND</p>
		</div>
		<div class ="Menu">
			<h4>Navigation</h4>
			<a href="#">Home</a><br>
			<a href="#">Check out the catalog!</a><br>
			<a href="#">Login/Create account</a><br>
			<a href="#">Add a new game!</a><br>
			<a href="#">Edit Games</a><br>
			<a href="#">Delete a game</a><br>
		</div>
		<div class="Content">
		</div>
		<div class="Footer">
		</div>
	</div>
</body>
</html>
