<!DOCTYPE HTML>
<title>Add a game here!</title>
<h2>New Games!</h2>

<form action = "#" method ="POST">
	<p>Game Name:</p>
		<input type='text' size ='50' name='Game Name'>
	<p>Company Name:</p>
		<input type='text' size='20' name='Company Name'>
	<p>Cover URL:</p>
		<input type ='url' name ='url' placeholder ="http://www.google.com" size='30'>
	<p>Release Year:</p>
		<input type="text" size= '20' name="Release Year">	
	<p>Description:</p>
		<input type="text" size ="50" name="Description" 
		placeholder ='Tell me about your game here!'>
	<p>Platform:</p>
		<input type = 'text' size ='30' name='Platform'>
	<p>Select game genre!</p>
	<select name='genre_id'>
		<option value ="1">JRPG</option>
		<option value ="2">Hero Based Shooter</option>
		<option value ="3">Rhythm</option>
		<option value ="4">Action/Adventure</option>
		<option value ="5">Horror</option>
		<option value ="6">Platformer</option>
		<option value ="7">Battle Royale</option>
		<option value ="8">Fighter</option>
		<option value ="9">Sports</option>
		<option value ="10">Puzzle</option>
	</select>

</br>

</br>
<input type='submit' value='Create'>

</form>

</body>
</html>
