<!DOCTYPE HTML>
<title>Add a game here!</title>
<h2>New Games!</h2>

<form action = "{{url_for('newgame', platform_id = platform_id)}}" method ="POST">
	<p>Name:</p>
		<input type='text' size ='50' name='name'>
	<p>Release Year:</p>
		<input type="text" size= '20' name="releaseyear">	
	<p>Description:</p>
		<input type="text" size ="50" name="description" 
		placeholder ='Tell me about your game here!'>
	<p>Select a platform!!</p>
	<select name='platform_id'>
		<option value ="1">PC</option>
		<option value ="2">Playstation</option>
		<option value ="3">Xbox</option>
		<option value ="4">Nintendo</option>

</br>

</br>
<br>
<input type='submit' value='Create'><br>

</form>

</body>
</html>
