<html>
<head>
	<title>View Games in the Platforms here!</title>
</head>
</body>
<div class='Header'>
	<h1>Video Games! in this platform! </h1>
	<p> Don't see a game you like here? <a href="{{url_for('newgame', platform_id = platform_id)}}">Add your game!</a>
</div>
{% for g in games %}

	<div>
		<p>{{g.name}}</p>

		<p>{{g.companyname}}</p>

		<p>{{g.releaseyear}}</p>

		<p>{{g.description}}</p>

	</div>

		<div class ="editanddeletepane">
		<h2><a href ="{{url_for('editgame', platform_id = platform_id, game_id = g.id)}}">Edit</a></h2>
		<h2><a href ="{{url_for('deletegame', platform_id = g.platform_id, game_id = g.id)}}">Delete</a></h2>
	</div>
	{% endfor %}
</body>
</html>
