<!DOCTYPE HTML>
<html>
  <head>
    <title> </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='viewgames.css')}}">
  </head>
  <body>
    <div id="header">
      <h1>Video Game Catalog!</h1>
    </div>
    <div id="nav">
      <a href="{{url_for('Platforms')}}">Go back home!</a>
            <a href="{{url_for('newgame', platform_id = platform_id)}}">Add a new game!</a>
      <a href="{{url_for('showLogin')}}">Login to Add stuff in!</a>
      <a href="{{url_for('gdisconnect')}}">Log out here!</a>
    </div>
    <div class="main">
          <h1>Here are some games!</h1>
<p> Don't see a game you like here? <a href="{{url_for('newgame', platform_id = platform_id)}}">Add your game!</a>
  {% for g in games %}


		<p>{{g.name}}</p>

		<p>{{g.companyname}}</p>

		<p>{{g.releaseyear}}</p>

		<p>{{g.description}}</p>

      <div class ="editanddeletepane">
		<h2><a href ="{{url_for('editgame', platform_id = platform_id, game_id = g.id)}}">Edit</a></h2>
		<h2><a href ="{{url_for('deletegame', platform_id = g.platform_id, game_id = g.id)}}">Delete</a></h2>
	</div>
	{% endfor %}
</body>
</html>